<%- include("partials/header"); -%>

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card mt-4">
                <div class="card-header text-center">
                    <h3>Contact Details</h3>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p><b>Owner Details</b></p>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p><b>Username : </b></p>
                        </div>
                        <div class="col-9">
                            <p><%= owner.username %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p><b>Email : </b></p>
                        </div>
                        <div class="col-9">
                            <p><%= owner.email %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p><b>Mobile : </b></p>
                        </div>
                        <div class="col-9">
                            <p><%= owner.contact %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <p><b>Finder Details</b></p>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p><b>Username : </b></p>
                        </div>
                        <div class="col-9">
                            <p><%= finder.username %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p><b>Email : </b></p>
                        </div>
                        <div class="col-9">
                            <p><%= finder.email %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p><b>Mobile : </b></p>
                        </div>
                        <div class="col-9">
                            <p><%= finder.contact %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-6">
            <div class="card mt-4">
                <% if(preferences===null) { %>
                    <div class="card-header text-center">
                        <h3>No preference set</h3>
                    </div>
                    <% if(currentUser===owner.username){ %>
                        <div class="card-body">
                            <div class="col-12 text-center">
                                <button class="btn" data-bs-toggle="modal" data-bs-target="#Modal">Set Preference</button>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="card-header">
                        <h3>Preferences</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <p><b>Delivery Date : </b></p>
                            </div>
                            <div class="col-9">
                                <p><%= preferences.deliveryDate %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <p><b>Instructions : </b></p>
                            </div>
                            <div class="col-9">
                                <p><%= preferences.mode %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <p><b>From Time : </b></p>
                            </div>
                            <div class="col-9">
                                <p><b><%= preferences.fromTime %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <p><b>To Time : </b></p>
                            </div>
                            <div class="col-9">
                                <p><b><%= preferences.toTime %></b></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer"); -%>