<%- include("partials/header"); -%>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Recently Added</h2>
        </div>
    </div>
    
    <div class="row">
        <% for(let i=0;i<items.length;i++){ %>
            <% let type=items[i].img.content; %>
            <% let data=items[i].img.data; %>

            <div class="col-3">
                <div class="card mt-2 mb-2">
                    <img src="data:image/<%=type %>;base64,<%= data.toString('base64') %>" class="card-img-top img-fluid img-thumbnail">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">Item Name</div>
                            <div class="col-6"><%= items[i].name %></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">Last Seen</div>
                            <div class="col-6"><%= items[i].place %></div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <a class="btn btn-primary" role="button" href="#">Details</a>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-primary" role="button" href="#">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</div>



<%- include("partials/footer"); -%>